<h2 mat-dialog-title></h2>

<div mat-dialog-content>Are you sure want to delete</div>

<div mat-dialog-actions>
  <button (click)="delete()"

  style="background-color:#90ee90;;margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%"

  mat-button mat-dialog-close>Delete</button>
    <button (click)="cancel()"
        style="background-color:#90ee90;;margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%"
        mat-button mat-dialog-close>Cancel</button>

</div>
